In [29]:
x='5'
y="Itpm"
print(x+y)

5Itpm

Data Type :
1.Int
2.Float
3.Complex
4.String
5.List
6.Set
7.Tuple
8.Dictionary
9.boolen

In [30]:
#int 
x = 5
print(x)
print(type(x))

5
<class 'int'>

In [ ]:
#2.float
y=4.0
print(y)
print(type(y))

4.0
<class 'float'>

#3.String:
def : String : 
                String is a collection of char.which includes char,digit,spe.char,.........
                
Syntax: we declear sting using ''," ",''' '''

In [32]:
Name = 'Jay'
Name1 ="Tanay"
Name2 = ''' Pratik'''
print(Name,Name1,Name2)
print(type(Name))

Jay Tanay  Pratik
<class 'str'>

In [33]:
x='5'
print(type(x))
print(x)

<class 'str'>
5

In [34]:
Std_info = "I Am From Itpm Aug."
print(Std_info)

I Am From Itpm Aug.

In [35]:
Info = '123 Python Programming @ % & { } '
print(Info)

123 Python Programming @ % & { }

4.List :
        List is a collection of Heterogenius elements,Which contain duplicates, which are ordered collection of elements,mutable in nature.

Syntax:
List name = []
ex: :L1 = [1,2,3,4,5]

In [36]:
#4.List:
L1 =  [1,2,3,4,5]
print(L1)

[1, 2, 3, 4, 5]

In [37]:
L2 = '[1,2,3,4,5]'
print(type(L2))

<class 'str'>

In [38]:
L3 = ["Chhaya","Pallavi","Urvashi","Riya"]
print(type(L3))

<class 'list'>

In [39]:
#List is a collection of Heterogenous .
L5 = [1,3.4,'Jay',2]
print(L5)

[1, 3.4, 'Jay', 2]

In [40]:
#List Contain Duplicate Elements 
L6 = [1,1,1,1,1]
print(L6)

[1, 1, 1, 1, 1]

In [41]:
#List is mutable in nature.
L1 = [1,2,3,4,5,6]
L1.append(7)
print(L1)

[1, 2, 3, 4, 5, 6, 7]

5.Set : is collection of unique elements,which are unordered in nature.
Synatx:
Ex: s1 = {1,2,3,4,5}

In [42]:
#Set:
S1 = {1,2,3,4,5}
print(S1)

{1, 2, 3, 4, 5}

In [43]:
#Set is collection of unique Elements.
S2 = {1,1,1,1,1}
print(S2)

{1}

In [44]:
#List is ordered collection of Elements.

In [ ]:
#List is a ordered collection of elements.
L1 = [1,2,3,4,5]
L2 = [2,3,1,4,5]
print(L1==L2)

False

In [ ]:
#Set is unordered collection of elements.
s1 = {1,2,3,4,5}
s2 = {2,3,4,1,5}
print(s1==s2)

True

6.Tuple : is similar to the list but it immutable in nature.
tuple_name = ( )
ex:t1 = (1,2,3)

In [24]:
#Tuple :
T1 = (1,2,3,4,5)
print(T1)

(1, 2, 3, 4, 5)

In [25]:
T2 = (1,3.4,5,5.5,"Python")
print(T2)

(1, 3.4, 5, 5.5, 'Python')

In [26]:
T3 = (1,1,2,3,3,4)
print(T3)

(1, 1, 2, 3, 3, 4)

In [27]:
T4 = (2,3,4)
T5 = (3,4,2)
print(T4==T5)

False

In [28]:
T6 = (1,2,3,4,5)
T6.append(6)
print(T6)

AttributeError: 'tuple' object has no attribute 'append'

7.Dictionary : is a collection of different type of elements which are represent in the formate of keys and value.

In [ ]:
#7.Dictionary:
dict = {"Name":"Riya",101 : "Empid"}
print(dict)

{'Name': 'Riya', 101: 'Empid'}

In [46]:
#8.boolen:
x = True
print(x)

True

In [48]:
#9.Complex 
x = 2+3j
print(x)
print(type(x))

(2+3j)
<class 'complex'>

In [50]:
y = 3j+6
print(y)

(6+3j)