Variables :
          Variables are containers which use to store the value.

Rules :
1.Variable name Contain Lower case,Upper case letters , combination of both and digits  also.
2.Variable name con't Use space.
3.Can't allow Special char 
4.can't Start with digits.
5.Meaningful.
6. Case Sensitivity.
7. We Start Variable name with _ in Special case only.
8.Can't use keyword as a variable name.

In [1]:
print("Hello")

Hello

In [2]:
#Variable
#in c 
#int x = 3
#in python
x = 3
y=6.7
print(x,y)

3 6.7

In [3]:
x,y = 3,5
print(x,y)

3 5

In [4]:
x= 5
y= 5
a,b=5,5
p=q=5
print(x,y,a,b,p,q)

5 5 5 5 5 5

In [5]:
x = int(input("Enter a number"))
print(x)

ValueError: invalid literal for int() with base 10: ''

Variable Naming Rules

In [ ]:
X=5
NAME = 'shreya'
name = 'Raj'
Name = 'Jay'
Name23 = 'Pratik'

In [ ]:
#
302 = "Mrunali"
print(302)

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (3165945472.py, line 2)

In [ ]:
1Name = "Riya"
print(1Name)

SyntaxError: invalid decimal literal (2350110196.py, line 1)

In [ ]:
N1 = "Pratik"
print(N1)

Pratik

In [ ]:

NUM= 5
print(Num)

NameError: name 'Num' is not defined

In [ ]:
#Can't use space
Full Name = "Tanay Kokate"
print(Full Name)

SyntaxError: invalid syntax (3320879815.py, line 2)

In [ ]:
#Special char not allowed.
Name12@ = "Pratik"

In [ ]:
_Name = "Shruti"
print(_Name)

Shruti

In [ ]:
uieyiwuehiwjhed = 5
print(uieyiwuehiwjhed)

5

In [ ]:
if = 6
print(if)

SyntaxError: invalid syntax (975418954.py, line 1)

In [ ]:
x = 5
x = 6
print(x)

6

In [ ]:
#Wap to perform add of two numbers take numbers dynamically.
x = int(input("Enter a number."))
y = int(input("Enter second number."))
z = x+y
print(z)
print("Addition of Two numbers: ",z)
print(f"Addition of x={x} and y={y} is : {z}")

79
Addition of Two numbers:  79
Addition of x=23 and y=56 is : 79

In [ ]:
Num1 = 20
print(Num1)

In [ ]:
num2 = 30
def add(a1,b1):
    a1 = 6
    print(a)
add()
print(num2)

In [ ]:
print(a1)