Tuple : 
        collection of hetro. elements,immutable in nature

In [1]:
t1 = (1,2,3,4,5,6)
print(t1)

(1, 2, 3, 4, 5, 6)

In [2]:
t1.append(7)
print(t1)

AttributeError: 'tuple' object has no attribute 'append'

In [3]:
t1.add(6)
print(t1)

AttributeError: 'tuple' object has no attribute 'add'

In [4]:
t1.remove(4)
print(t1)

AttributeError: 'tuple' object has no attribute 'remove'

In [5]:
t1.replace(3,6)
print(t1)

AttributeError: 'tuple' object has no attribute 'replace'

In [ ]:
#List:del,count,sorted,
# +,*,min,max,
#   len,in

In [8]:
t2 = (1,2,3,3,4,5,6,1,2,3)
print(t2.count(3))
print(t2.count(2))

3
2

In [13]:
t1 = (23,43,21,43,32,21,67)
t2= tuple(sorted(t1))
print(t2)
print(t1)

(21, 21, 23, 32, 43, 43, 67)
(23, 43, 21, 43, 32, 21, 67)

In [14]:
t1 = (1,2,3,4,5)
t2 = (6,7,8,9,10)
print(t1+t2)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [15]:
print(t1*4)

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [18]:
print(min(t1))
print(max(t1))

1
5

In [19]:
del t1

In [20]:
t1

NameError: name 't1' is not defined

In [21]:
t3 = (1,23,54,32,43,21,43)
print(len(t3))

7

In [23]:
print(4 in t3)

False