In [39]:
Name = "Parth" 
Age = 22
print(Name+Age)

TypeError: can only concatenate str (not "int") to str

In [40]:
Name = "Parth" 
Age = 22
print(Name+str(Age))

Parth22

In [4]:
a = 2
b = 2.3
print(a+b)

4.3

Type of Type-Casting 
1.Explicit TypeCasting
    1.int to float
    2.int to string

In [6]:
#1.int to float
x = 23
y = float(x)
print(y)
print(type(y))
print(x)

23.0
<class 'float'>
23

In [8]:
#2.int to String
x = 23
y = str(x)
print(y)
print(type(y))

23
<class 'str'>

In [9]:
#3.int to list.
x= 56
l1 = list(x)
print(l1)

TypeError: 'int' object is not iterable

In [13]:
s1 = set(x)
s1

TypeError: 'int' object is not iterable

In [12]:
d1 = dict(x)
d1

TypeError: 'int' object is not iterable

In [14]:
#string to int
str1 = "hello"
x = int(str1)
print(x)

ValueError: invalid literal for int() with base 10: 'hello'

In [17]:
Age = '22'
x = int(Age)
print(x)

22

In [18]:
#string to float
Age = '23.43'
y = float(Age)
y

23.43

In [20]:
Name1 = "jay"
Age1 = '23'

In [21]:
N1 = int(Name1)
print(N1)

ValueError: invalid literal for int() with base 10: 'jay'

In [22]:
y1 = int(Age1)
print(y1)

23

In [23]:
#string to list
Name1 = "jay"
l1 = list(Name1)
print(l1)

['j', 'a', 'y']

In [24]:
std = "I am from Python Itp 12 @ "
l2 = list(std)
l2

['I',
 ' ',
 'a',
 'm',
 ' ',
 'f',
 'r',
 'o',
 'm',
 ' ',
 'P',
 'y',
 't',
 'h',
 'o',
 'n',
 ' ',
 'I',
 't',
 'p',
 ' ',
 '1',
 '2',
 ' ',
 '@',
 ' ']

In [25]:
n2 = list(Name1)
print(n2)

['j', 'a', 'y']

In [31]:
#WAp to print given String into formate of list.
Str = " I am from Itpm"

In [32]:
l1 = list(Str)
l1

[' ', 'I', ' ', 'a', 'm', ' ', 'f', 'r', 'o', 'm', ' ', 'I', 't', 'p', 'm']

In [ ]:
#WAp to print given String into formate of list without using type casting.
Str = " I am from Itpm"

In [33]:
#string to set 
str2 = " Python Programming"
s1 = set(str2)
print(s1)

{'y', 'P', 'i', 'r', 'g', 'h', 'o', 'a', 't', 'n', 'm', ' '}

In [34]:
#WAp to print unique char from give str.
str3 = " I am Parth I am Kawad"
str4 = set(str3)
print(str4)

{' ', 'P', 'I', 'r', 'h', 'a', 't', 'K', 'w', 'd', 'm'}

In [36]:
#string to tuple
print(str3)
t1 = tuple(str3)
print(t1)

 I am Parth I am Kawad
(' ', 'I', ' ', 'a', 'm', ' ', 'P', 'a', 'r', 't', 'h', ' ', 'I', ' ', 'a', 'm', ' ', 'K', 'a', 'w', 'a', 'd')

In [38]:
#string to dict.
print(str3)
d1 = dict(str3)
print(d1)

 I am Parth I am Kawad

ValueError: dictionary update sequence element #0 has length 1; 2 is required

List                        Tuple 
1.List to i(No)                      1.Tuple to int (No)
2.List to float(No)                   2.Tuple to float (No)
3.list to string (Yes)                 3.Tuple to String (Yes) 
4.list to set (Yes)                    4.Tuple to List(Yes) 
5.list to tuple (Yes)                   5.Tuple to Set(Yes) 
6.list to dict(No)                      6.Tuple to Dict(No)
Set :                        Dict
1.set to int (No)                    1.dict to int (No)
2.set to float (No)                  2.dict to float (no)
3.set to string (yes)                3.dict to string (Yes) 
4.set to list  (Yes)                 4.dict to list (Yes)         
5.set to tuple (Yes)                 5.dict to tuple (Yes) 
6.set to dict. (No)                  6.dict to set (Yes)

In [ ]:
#dict to String. 
dict1 = { 101 : "Emp_Id",
         "Name" : ["Jay","Soham","Shruti"]}
str1 = str(dict1)
print(str1)
print(type(str1))

{101: 'Emp_Id', 'Name': ['Jay', 'Soham', 'Shruti']}
<class 'str'>

In [15]:
dict1 = { 101 : "Emp_Id",
         "Name" : ["Jay","Soham","Shruti"]}
l1 = list(dict1)
print(l1)

[101, 'Name']

2. 
1.int
2.float
3.bool
4.complex

In [1]:
#int to float
x = 2
y=23.56
print(x*y)

47.12

In [2]:
#int + complex
x = 23 
y = 4+5j
print(x+y)

(27+5j)

In [4]:
a = 4+5j
b = int(a)
print(b)

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'complex'

In [3]:
a = 3j
b = 4+5j
print(a+b)

(4+8j)

In [5]:
x1 = 10 
y1 = True
print(x1+y1)

11

In [6]:
x2 = False
y2 = 34
print(x2+y2)

34

In [8]:
# complex +  bool
x = 3+6j
y = True
print(x-y)

(2+6j)

In [ ]:
p1 = 12
p2 = 12.43
p3 = 4+7j
print(p1*p2*p3)
#  12*12.43*(4+7j)
#  144.43(4+7j)

(596.64+1044.12j)

In [ ]:
x = 23
y = 23.54
print(x+y)#..............................46.25
x1 = "Name"
y1 = 23
print(x1+y1)#.........................Error

In [12]:
x1 = "21"
y1 = 20
print(x1+y1)

TypeError: can only concatenate str (not "int") to str